html, body {
    position: absolute;
    width: 1440px;
    height: 1139px;
}

.titulo{
    text-align: center;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #252525;
}


.parrafo{
    text-align: center;
    width: 607px;
    height: 108px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    size: 26px;
    font-weight: 400;
    color: #252525CC;
}

div.texst{
    position: center;
    position: absolute;
    width: 610px;
    height: 355px;
    top: 64px;
    left: 415px;
    
}

div.carrusel1 {
    position: absolute;
    width: 1312px;
    height: 288px;
    top: 483px;
    left: 54px;
    display: flex; 
    gap: 16px; 
}


div.carrusel2{
    position: absolute;
    width: 1312px;
    height: 288px;
    top: 787px;
    left: 54px;
    display: flex;
    gap: 16px;
   
} 

div.imgs {
    display: flex;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}