body{
    background-color: #FFFDEC;
    margin: 0;
    position: absolute;
    width: 100svw;
    height: 100svh;
}


.titulo{
    text-align: center;
    font-family: 'AvenirLTStd-HeavyOblique', sans-serif;
    letter-spacing: 2px;
    color: #252525;
}

.parrafo{
    text-align: center;
    width: 607px;
    height: 108px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    letter-spacing: 1px;
    size: 26px;
    font-weight: 400;
    color: #252525CC;
}

#boton{
    font-family: 'Montserrat-SemiBold', sans-serif; color: #FFFFFF;
    background-color: #252525;
    width: 158px;
    height: 54px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.botonmove{
    position: absolute;
    left: 226px;
}

div.texst{

    position: absolute;
    width: 610px;
    height: 355px;
    top: 64px;
    left: 415px;
    
}


div.carrusel{
    position: absolute;
    top: 483px;
    left: 50%;
    transform: translate(-50%);
    width: 1312px;
    height: 592px;
    
} 

div.containertext{
    position: absolute;
    width: 610px;
    height: 355px;
    top: 64px;
    left: 50%;
    transform: translate(-50%);
}

div.col{
    padding-top: 20px;
}


div.imgs {
    display: flex;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}